<html>
  <head>
    <title>Ohai, I'm Chloe! Let's Chat!</title>
  </head>
  <body>
    <h1>Chloe chat time!</h1>

    <ul id="messages">
    </ul>

    <form id="chat-form" style="display:none;">
      <label for="name">Your Name:</label>
      <input type="text" id="name" name="name" />

      <label for="message">Message:</label>
      <input type="text" id="message" name="message" />

      <input type="submit" id="submit" value="Send!" />
    </form>

    <script type="text/javascript" src="static/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="static/json2.js"></script>
    <script type="text/javascript" src="http://<%= server_name %>:8901/chloe-client.js"></script>
    <script type="text/javascript" src="http://<%= server_name %>:8901/chloe-websocket.js"></script>
    <script type="text/javascript" src="http://<%= server_name %>:8901/chloe-jsonp.js"></script>
    <script type="text/javascript" src="http://<%= server_name %>:8901/chloe-message.js"></script>
    <script type="text/javascript" src="chat_server.js"></script>
  </body>
</html>
